body {
  background: url('imgs/pizza-background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.transparent-layer{
  position: fixed;
  height: 100%;
  width:  100%;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  display: grid;
  justify-content: center;
  align-items: center;

}

.title-section{
  display: grid;
  justify-content: center;
  text-align: center;
}
.title-section > h1{
  color:white;
  outline-color: red;
  outline-width: medium;
}
.title-section > .buttons{

}
.btn{
  margin: 1em;
  width: 10em;
}

.section{
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 20px;
  height: 100%;
  width:  100%;

}
.form-section{
  margin: 20px;
  background: white;
  width: 400px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #FFC300;
}

.alert{
  z-index: 1;
}

.white-bg{
  background: #e6e6e6;
  height: 100vh;
  text-align: center;
  padding: 20px;
}



.list {
  background: white;
  margin: 10px;
  border: 2px solid #FFC300;
  border-radius: 10px;

}
.category{
  display: grid;
  align-items: center;
  text-align: center;
  height: 50px;
}
.category:hover{
  cursor: pointer;
}
.active{
  background: orange;
  width: 100%;
}

.item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


}
.food-item:hover {
  cursor: pointer;
}
#pop-up{
  position: absolute;
  left: 25%;
  top: 25%;
  background: white;
  width: 50vw;
  height: 50vh;;
  /* z-index: 1; */
  border: 2px solid #FFC300;
  border-radius: 10px;
}
